<% layout('./main.ejs') -%>
<div class="row mt-3 justify-content-center">
    <div class="col-12 col-lg-6 col-md-8 col-sm-10">
        <h3 class="mb-5 text-center">Login</h3>
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label class="mb-2 form-label" for="username">Username</label>
                <input class="form-control" id="username" type="text" name="username" value="" required>
                <div class="invalid-feedback">Incorrect username</div>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="mb-2 form-label" for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password" value="" required>
                <div class="invalid-feedback">Incorrect password</div>
            </div>
            <button class="btn btn-success w-100">Log in</button>
        </form>
    </div>
</div>
